{% extends  "base.html" %}

{% block head  %}
    <link type="text/css" rel="stylesheet" href="{{ static('css/form.css') }}">
{% endblock %}

{% block content  %}

<br>
<br>
<div class="container">
    <form class="" action="" method="post">
        <h1>Вход</h1>
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

        <div class="input-group">
            <label for="username">Логин:</label>
            <input type="text" id="username" name="username"
                   value="{% if username %}{{ username }}{% endif %}" required>
        </div>

        <div class="input-group">
            <label for="password">Пароль:</label>
            <input type="password" id="password" name="password" required>
        </div>

        {% if error %}
        <p class="error">{{ error }}</p>
        {% endif %}
        <button class="button" type="submit">Войти</button>
        <a href="/register">Нет аккаунта? Зарегистрироваться</a>

    </form>
</div>


{% endblock %}

