{% extends "base.html" %}

{% block head  %}
    <link type="text/css" rel="stylesheet" href="{{ static('css/teacher_card.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ static('css/appointment.css') }}">

    <script>
    document.addEventListener("DOMContentLoaded", function() {
        const iconStrap = document.querySelector('.icon-strap');
        iconStrap.classList.add('visible');
    });
</script>


{% endblock %}

{% block content  %}

    <div class="container">
        <div class="confirmation-container">

            <div class="confirmation-header">
                <div class="icon-strap">
                    <img class="big-icon" src="{{ static('icons/check_mark_icon.svg') }}">
                </div>
                <div class="center-text">
                    <h1 class="custom-h1">Ваша заявка отправлена</h1>
                    <p>Наш менеджер скоро свяжется с вами</p>
                    <br><br>
                    <a href="/" class="button back-url">Вернутся на главную страницу</a>
                </div>
            </div>

{#            <div class="confirmation-details">#}
{##}
{#                <div class="teacher-card small">#}
{#                    <img class="teacher-img" src="{{ teacher.avatar_url }}" />#}
{#                    <div class="teacher-info">#}
{#                        <h1>{{ teacher.name }}</h1>#}
{#                        <div class="teacher-subject"> {{ group.subject }} </div>#}
{#                        #}
{#                        <div class="teacher-descriptions">#}
{#                            {% for skill in teacher.skills %}#}
{#                                <p class="teacher-description">{{ skill }}</p>#}
{#                            {% endfor %}#}
{#                        </div>#}
{##}
{#                    </div>#}
{##}
{##}
{#                </div>#}
{##}
{#            </div>#}
        


        </div>
    </div>

{% endblock %}

