<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

    <link rel="shortcut icon" href="{{ static('images/favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ static('images/favicon.ico') }}" type="image/x-icon">

    <link rel="apple-touch-icon" sizes="180x180" href="{{ static('images/favicon.ico') }}">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <meta property="og:title" content="Хехархо">
    <meta name="description" content="Хехархо. Грозный. ул. Шейха Али Митаева, 43А/18, 131  Рабочий номер: +7 (938) 004-82-82">

    <link type="text/css" rel="stylesheet" href="{{ static('css/root.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ static('css/footer.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ static('css/generic.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ static('css/head.css') }}">
{#    <link type="text/css" rel="stylesheet" href="{{ static('css/icons.css') }}">#}
    <script type="text/javascript" src="{{ static('js/base_script.js') }}"></script>
    <script type="text/javascript" src="{{ static('js/head.js') }}" defer></script>

    <script>
        let role = 1;
        let is_authenticated = '{{user.is_authenticated}}' == 'True';

        if (is_authenticated){
            role = '{{user.role}}';
        }
    </script>


    {% block head  %}

    {% endblock %}
</head>
<body>

<div class="head">
    <div class="head-content horizontal-container">
        <a href="/" class="logo">
            <img class="logo-image" src="{{ static('icons/favicon.png') }}" alt="Logo" />
        </a>
        
        <div class="horizontal-container header-nav-container">
            <nav class="nav-menu horizontal-container">
                <a href="/" class="nav-item">Главная</a>
                <a href="/select_teacher" class="nav-item">Записаться</a>
                
                {% if user.is_authenticated %}
                    {% if user.role == 2 %}
                        <a href="/manage_groups" class="nav-item">Мои группы</a>
                    {% else %}
                        <a href="/my_groups" class="nav-item">Мои группы</a>
                    {% endif %}
                    <a href="/profile" class="nav-item">Профиль</a>
                {% else %}
                    
                {% endif %}
                
            </nav>

            {% if user.is_authenticated %}
                
            {% else %}
                <a href="/login" class="button nav-item sign-in">Войти</a>
            {% endif %}

            <div class="menu-toggle" id="mobile-menu">
                <span class="bar"></span>
                <span class="bar second"></span>
                <span class="bar"></span>
            </div>
        </div>
    </div>
</div>


<main>
    {% block content  %}

    {% endblock %}
</main>

<footer class="footer">
    <div class="container">
        <div class="footer-content">
            <h3> <span class="text-logo-part-2"></span>XEXARXO</h3>
            <p>ул. Шейха Али Митаева, 43А/18, Грозный</p>
            <p>+7 (938) 004-82-82</p>
        </div>
    </div>
</footer>

</body>

</html>