{% extends "base.html" %}

{% block head  %}
<link type="text/css" rel="stylesheet" href="{{ static('css/home.css') }}">

<script type="text/javascript" src="{{ static('js/home.js') }}" defer></script>
{% endblock %}


{% block content  %}
    <br><br>
    <div class="container">
        <div class="main-block">
            <p class="title-2">Научно-Оброзовательное Объединение</p>
            <div class="big-logo">
                <span class="text-logo-part-2 big-logo">Х</span><span class="text-logo-part-1 big-logo">ехархо</span>
            </div>

            <p class="description">Добро пожаловать на Хехархо, ведущую платформу для поиска квалифицированных репетиторов и образовательных услуг!
                Мы стремимся обеспечить каждого ученика и студента доступом к высококачественному образованию, помогаем в достижении академических успехов и развитии личных навыков.</p>

            <p>Адрес: ул. Шейха Али Митаева, 43A/18, Грозный</p>
            <p>Рабочий номер: 8 (995) 000-00-00</p>

            <a href="/select_teacher/w0s0d-1" class="button">Записаться</a>
        </div>
    </div>

{% endblock %}


