{% extends "base.html" %}

{% block head %}
    <link type="text/css" rel="stylesheet" href="{{ static('css/form.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ static('css/manage_groups.css') }}">

    <script type="text/javascript" src="{{ static('js/manage_groups.js') }}" defer></script>

    <script>
        const user_id = {{ user.id }};
    </script>
{% endblock %}

{% block content %}
    <br>
    <div class="container">
        <h1>Мои группы</h1>

        <form id="groups-container" class="" action="" method="post">
            
        </form>
    </div>

{% endblock %}
