{% extends "base.html" %}

{% block head %}
    <link type="text/css" rel="stylesheet" href="{{ static('css/form.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ static('css/manage_group.css') }}">

    <script type="text/javascript" src="{{ static('js/manage_group.js') }}" defer></script>

    <script>
        const user_id = {{ user.id }};
        const teacher_id = {{ teacher.user.id }};
        const group_id = {{ group_id }};
    </script>
{% endblock %}

{% block content %}
    <br>
    <div class="container">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        
        <a href="{{ back_url }}" class="href">Назад</a>
        <h1>Редактирование группы</h1>

        <div id="groups-container" class="form">

        </div>
    </div>


{% endblock %}
