{% extends "base.html" %}

{% block head %}
    <link type="text/css" rel="stylesheet" href="{{ static('css/form.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ static('css/manage_groups.css') }}">

    <script type="text/javascript" src="{{ static('js/manage_groups.js') }}" defer></script>

    <script>
        const user_id = {{ user.id }};
    </script>
{% endblock %}

{% block content %}
    <br>
    <div class="container">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

        <h1>Мои группы</h1>

        <div id="groups-container" class="groups-list">
            {% for group in groups %}
                
                <div class="group">
                    <div class="group-info">
                        <h2>{{ group.name }}</h2>

                        <p>{{ group.subject.name }}</p>
                        <p>Cтудентов: <span class="primary-text lite" style="font-size: 1rem; font-weight: 500"> {{ group.students_count }}</span></p>
                        <br>
                        <p>Расписание: </p>
                        {% for schedule in group.schedules.all() %}
                            <p class="schedule-p">{{ schedule.get_day_of_week_display() }} <span class="primary-text">{{ schedule.start_time.strftime('%H:%M') }} - {{ schedule.end_time.strftime('%H:%M') }}</span></p>
                        {% endfor %}
                    </div>

                    <div class="fields-container">
                        <a href="/manage_group/{{ group.id }}" class="button">Редактировать</a>
                        <a href="/group_students/{{ group.id }}" class="button">Студенты</a>
                    </div>
                </div>
            
            {% endfor %}
        </div>
    </div>

{% endblock %}
