body{
    background-color: var(--background-color-1);
    min-height: 100vh;
}

main{
    min-height: 90vh;
}

h1{
    font-weight: 600;
    color: var(--color-1);
    font-size: 40px;
    font-style: normal;
    line-height: normal;
}

hr{
    border: none;
    border-top: 1px dashed var(--color-transparent);
}

a{
    color: var(--color-1);
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    max-width: var(--max-width);
    margin: auto;
}

.container.start{
    justify-content: start;
    align-items: start;
    margin: 0;
}

.row{
    display: flex;
    flex-direction: row;
}
.column{
    display: flex;
    flex-direction: column;
}

.gap10{
    gap: 10px;
}
.gap25{
    gap: 25px;
}

.gap1rem{
    gap: 1rem;
}

.justify-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;
}

.justify-content-custom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    flex-wrap: wrap;

    width: 100%;
}

.w100{
    width: 100%;
}
.w50{
    width: 50%;
}


.horizontal-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

form{
    box-shadow: 0 1px var(--shadow-blur) var(--shadow);
    padding: 20px 50px;
    margin: 20px auto;

    display: flex;
    flex-direction: column;
    gap: 15px;

    width: 100%;
    max-width: var(--max-width);

    background-color: white;

    border-radius: var(--base-border-radius);
}

.reg{
    max-width: 600px;
}

option{
    color: var(--color-1)
}

.input-group{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
}
.input-group input, .input-group textarea, .input-group select{
    outline: none;
    color: var(--color-1);
    background-color: var(--background-color-2);
    border-radius: var(--small-border-radius);
    border: 1px solid var(--color-2);

    padding: 12px;
    font-size: 16px;
}
.input-group input:hover, .input-group textarea:hover{
    border-color: var(--color-1);
    /*box-shadow: 0 0 5px var(--light-color);*/
}
.input-group label{
    margin-bottom: 5px;
    color: var(--color-1);
}

form a{
    display: block;
    width: 100%;
    text-align: center;
}
form a:hover{
    color: var(--color-hover-1);
}

.input-list{
    display: flex;
    flex-direction: column;
    gap: 10px;

    background-color: var(--background-color-2);
    border-radius: var(--small-border-radius);
    padding: 12px;
}

.button{
    width: 100%;
    padding: 0.5rem;
    outline:none;
    font-size: 20px;
    text-align: center;

    font-style: normal;
    font-weight: 600;
    line-height: 110%; /* 22px */

    border-radius: var(--base-border-radius);
    border: none;

    background-color: var(--color-hover-1);
    color: var(--background-color-1);
}

.button.simple{
    background-color: var(--color-1);
}

.button.outline{
    background-color: transparent;
    color: var(--color-1);
    border: 1px solid var(--color-1);
}

.button:hover{
    background-color: var(--color-1);
    cursor: pointer;
}

.button.outline:hover{
    background-color: var(--color-1);
    color: var(--background-color-1);

}

.fixed-bottom{
    position: sticky;
    bottom: 24px;

    z-index: 9999;
    margin: 20px auto;
    opacity: 1;
    width: 100%;
    max-width: calc(var(--max-width) - 32px);
}

.button.mini{
    width: fit-content;
    padding: 5px 12px;
    font-size: 14px;

}

.fixed-bottom.panel{
    padding: 10px;
    background-color: var(--background-color-1);
    border-radius: var(--base-border-radius);
    gap: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 1px var(--shadow-blur) rgba(0, 68, 48, 0.2);
}


.fixed-bottom button{
    box-shadow: 0 1px var(--shadow-blur) rgba(0, 68, 48, 0.2);
}

.disabled {
    display: none;
    opacity: 0;
}

.mini-avatar, .profile-avatar{
    aspect-ratio: 1 / 1;
    border-radius: 100px;
}

.mini-avatar{
    height: 50px;
}

.profile-avatar{
    height: 30px;
    width: 30px;

    /*border: 1px solid var(--color-1);*/

}

.cards{
    display: flex;
    flex-direction: row;
}

@media (max-width: 768px) {
    .cards{
        flex-direction: column;
        gap: 1rem;
    }
}

.card{
    display: flex;
    gap: 1rem;

    width: 100%;
    margin: auto;
}

.card.center{
    align-items: center;
}

.transparent-text{
    font-size: 1rem;
    font-weight: 400;
    color: var(--color-transparent)
}

.card-info{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}

.strap{
    width: 100%;
    padding: 1.5rem;
    background-color: var(--background-color-1);
    border-radius: var(--base-border-radius);

    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.upload-section {
    border: 2px dashed var(--color-transparent);
    border-radius: var(--small-border-radius);

    text-align: center;
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

}

.file-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    width: 100%;
    text-align: center;
    margin: auto;
}

.file-input::-webkit-file-upload-button {
    display: none;
    visibility: hidden;
}
.file-input::file-selector-button {
    display: none;
    visibility: hidden;
}

.uploaded-image{
    width: 300px;
    max-width: 100%;
    aspect-ratio: 1 / 1;
    margin: auto;
    border-radius: 300px;
}

.text-button{
    color: var(--color-hover-1)
}

.text-button:hover{
    color: var(--color-hover-2)
}

.switch-buttons.disabled{
    display: none;
}

.switch-buttons{
    display: grid;
    grid-template-columns: 1fr 0 1fr 0 1fr;
    align-items: center;
    align-content: center;
    justify-items: center;

    max-width: var(--max-width);
    margin: 0 auto;

    gap: 0;

    background-color: var(--background-color-1);
    border-radius: var(--base-border-radius);
    overflow: hidden;
}


.switch-button{
    margin: auto;
    color: var(--color-1);
    background-color: var(--background-color-1);
    padding: 0.7rem 2rem;
    font-size: 1rem;

    width: 100%;
    flex: 1;
}

@media (max-width: 768px) {
    .switch-button{
        padding: 0.7rem 0.4rem;
    }
}


.switch-button.active{
    background-color: var(--color-hover-1);
    color: var(--background-color-1);
}






