


h1{
    font-size: 40px;
    font-weight: 300;
}

p{
    color: var(--color-2);
    font-size: 16px;
    font-weight: 300;
}
.button{
    padding: 20px 40px;
    font-size: 20px;
    width: max-content;
}

@media (max-width: 767px) {
    h1{
        font-size: 30px;
    }

    p{
        font-size: 13px;
    }

    .button{
        padding: 15px 20px;
        font-size: 13px;
        width: max-content;
    }
}



.main-block{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    width: 100%;
    max-width: 1140px;
}

.main-block-first{
    display: flex;
    align-items: center;
    gap: 1rem;

    width: 100%;
}

.main-block-text-section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;

    width: 100%;
}

.main-block-text{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.main-block-text-section h1{
    color: #212121;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
}

.main-block-text-section p{
    color: var(--color-1);
}

@media (max-width: 767px) {
    .main-block-text-section h1{
        font-size: 35px;
    }
}

.main-block-image-section{
    width: 394px;
    height: 447px;
}

.main-block-image-section img{
    width: 100%;
    height: 100%;
}

@media (max-width: 767px) {
    .main-block-image-section{
        display: none;
    }
}


.main-block-buttons{
    display: flex;
    gap: 1rem;

    width: auto;
    max-width: 100%;;
}



.stats-section{
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
    width: 100%;
    gap: 1rem;

    background-color: var(--background-color-2);
    border-radius: var(--base-border-radius);
}

.stats-block{
    background-color: var(--background-color-1);
    border-radius: var(--base-border-radius);

    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    gap: 7px;

    flex: 1;
}

.stats-block h1{
    color: #212121;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;

    width: 200px;
}

.stats-block p{
    color: #777;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
}

.teacher-card{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    gap: 29px;
}

.teacher-img{
    border-radius: 50px;
        width: 260px;
    height: 260px;
    flex-shrink: 0;
}

.teacher-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    flex: 1 0 0;
}

.teacher-info{
    font-size: 30px;
}

.teacher-subjects{
    display: flex;
    gap: 1rem;
}

.teacher-subject{
    border-radius: var(--base-border-radius);
    background-color: var(--color-hover-transparent);
    color: var(--color-hover-1);

    padding: 10px 30px;
    text-align: center;

    font-size: 15px;
    font-weight: 500;
}

.teacher-description{
    font-size: 16px;
    color: var(--color-1);
}

.teacher-description:before{
    content: '● ';
    color: var(--color-hover-1)
}

.teacher-sub-cards{
    display: flex;
    flex-direction: column;
    gap: 1rem;

    max-width: 275px;;
}

.teacher-sub-card{
    display: flex;
    padding: 20px 30px;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;

    border-radius: 20px;
    border: 1px solid #212121;
    background: #FFF;
}

.teacher-sub-card h1{
    color: var(--color-1);
    font-size: 30px;
    font-weight: 500;
    line-height: normal;
}

.teacher-sub-card p{
    color: var(--color-2);
    font-size: 20px;
    font-weight: 300;
    line-height: normal;
}

.teacher-sub-card h1.primary{
    color: var(--color-hover-1);
}

.diagnostic-section{
    width: 100vw;
    background-color: var(--background-color-2);
    display: flex;
    flex-direction: column;
}

.diagnostic-container{
    display: inline-flex;
    align-items: flex-end;
    gap: 31px;

    width: 100%;
    max-width: var(--max-width);
    margin: auto;

    padding: 40px 0;
}

.diagnostic-text{
    display: flex;

    flex-direction: column;
    align-items: flex-start;
    gap: 1rem
}

.diagnostic-text b{
    color: var(--color-1);
    font-weight: 600;
}



.diagnostic-icon{
    width: 328px;
    height: 247px;
}



.form-section{
}

.form-container{
    /*display: flex;*/
    /*flex-wrap: wrap;*/
    /*justify-content: space-between;*/
    /*align-items: flex-start;*/

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));

    width: 100%;
    height: 100%;
    max-width: var(--max-width);
    padding: 30px;

    border-radius: 30px;
    background: var(--color-1);

    gap: 20px;
}

@media (max-width: 767px) {
    .diagnostic-icon{
        display: none;
    }
    .form-container{
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

}

.form-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;

    width: 100%;
}

.form-text h1{
    font-weight: 600;
    color: var(--background-color-1);
}

.form-text p{
    color: #B1B1B1;
}

.form{
    box-shadow: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 100%;
    padding: 2rem;
    gap: 1rem;
    flex-shrink: 0;
    border-radius: 20px;
    background: var(--background-color-1)
}

.form .button{
    border-radius: 10px;
    padding: 15px 20px;
    font-size: 16px;
    font-weight: 300;

    width: 100%;
}

.soc-networks{
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    align-self: stretch;
}