
h2{

    color: var(--color-1);
}

.add-group{

}

.form .button{
    height: max-content;
}

.groups-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 100%;
    margin: 0;
    padding: 2rem;
    gap: 1rem;
    border-radius: 20px;
    background: var(--background-color-1);

    max-width: 1024px;
}

.group{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;

    width: 100%;

    border: 1px solid var(--color-1);
    padding: 2rem;
    border-radius: var(--base-border-radius);
}

.group .button{
    width: auto;

    padding: 0.7rem 2rem;
    border-radius: var(--small-border-radius);
}

.group-fields{
    display: flex;
    flex-direction: row;

    gap: 1rem;
}

@media (max-width: 1024px) {

}

@media (max-width: 768px) {

}

@media (max-width: 480px) {

}