
form{
    max-width: 1440px;
    gap: 1rem;

    border: none;
}

h2{

    color: var(--color-1);
}

h3{


}

.add-group{

}

.add-schedule{

}

.group{
    display: flex;
    flex-direction: column;
    gap: 1rem;

    border: 1px solid var(--color-1);

    padding: 2rem;
    border-radius: var(--base-border-radius);
}

.group-fields{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.schedules-list{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.schedule{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.schedule-fields{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}