

.input-group input, .input-group textarea{

}

h1{
    text-align: center;
}

h2{
    font-weight: 500;
    color: var(--color-1);
}

.profile-header{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.login-div{
    
}

.href{
    width: auto;
}