
h1{
    color: var(--color-1);
    font-size: 40px;
    font-weight: 700;

    width: 100%;
}


.subjects{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    gap: 0.75rem;
}

.subject{
    width: auto;
    padding: 0.75rem 2rem;
    font-size: 1rem;
    align-self: flex-end;
    border-radius: var(--base-border-radius);
    background-color: var(--background-color-2);
    color: var(--color-1);

    font-weight: 400;
}

.subject.selected{
    background-color: var(--color-hover-1);
    color: var(--background-color-1);
}

.workers{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));

    gap: 1rem;

    width: 100%;
    margin: auto;
}

.worker-card{
    --padding: 1rem;

    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    gap: 1rem;

    padding: var(--padding);
    background-color: var(--background-color-2);

    border-radius: var(--base-border-radius);
    border-radius: 30px;
}

.worker-card .button{
    font-weight: 300;
    border-radius: 15px;
    font-size: 1rem;
    padding: 0.75rem 1rem;
}


.worker-card.selected{
    border-color: var(--color-hover-1);
}

.description{
    font-size: 0.9rem;
    color: var(--color-transparent);

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.description.expanded {
    -webkit-line-clamp: unset;
    white-space: normal;
}

@media (max-width: 767px) {
    h1{
        font-size: 28px;
    }

    .subject{
        padding: 12px 18px;
        font-size: 0.8rem;
    }

    .workers{
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}