

.workers{
    display: flex;
    flex-direction: column;
    gap: 20px;

    width: 100%;
    margin: auto;
}

.worker-card{
    --padding: 1rem;

    width: calc(100%);
    height: auto;

    display: flex;
    flex-direction: column;

    gap: 0.7rem;

    padding: var(--padding);
    background-color: var(--background-color-1);

    border: 2px solid transparent;
    border-radius: var(--base-border-radius);
}

.worker-card.selected{
    border-color: var(--color-hover-1);
}



.description{
    font-size: 0.9rem;
    color: var(--color-transparent);

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.description.expanded {
    -webkit-line-clamp: unset;
    white-space: normal;
}

.subjects{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    gap: 0.5rem;
}

.more-button{
    width: max-content;
    color: var(--color-hover-2);

    font-size: 0.9rem;

    background: none;
    border: none;
    cursor: pointer;
    margin-top: 5px;
    display: flex;
    align-items: center;
}

.more-button .arrow {
    margin-left: 5px;
    color: var(--color-hover-2);
}

.subject{
    width: auto;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    align-self: flex-end;
    border: 1px solid var(--color-hover-1);

    border-radius: var(--base-border-radius);
    background-color: transparent;
    color: var(--color-hover-1);
}

.subject.selected{
    background-color: var(--color-hover-1);
    color: var(--background-color-1);
}
