body{
    background-color: var(--background-color-2);
}

sub{
    color: inherit;
    transition: 0s;
}

.section{
    visibility: hidden;
    height: 0;
    opacity: 0;
}

.section.active{
    visibility: visible;
    opacity: 1;
    height: auto;
}

.strap{
    max-width: 1024px;
    padding: 2.5rem;

    gap: 1rem
}



.test{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.question-title{
    color: var(--color-1);
}

.question-text{
    font-size: 1.25rem;
}

.question-img{
    max-height: 200px;
    max-width: 90%;
    object-fit: contain;
    margin-right: auto;
}

.question-numbers-list{
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    gap: 1rem;

    margin-bottom: 1rem;
}

.question-number{
    font-size: 1rem;
    font-weight: bold;

    color: var(--color-1);
    border: 1px solid var(--color-1);
    border-radius: 10px;

    padding: 10px 18px;

    &.passed{
        font-weight: normal;
        color: var(--background-color-1);
        background-color: var(--color-hover-1);
        border-color: var(--color-hover-1);
    }

    &.current{
        border-color: var(--color-hover-1);
        color: var(--color-hover-1);
    }
}

.answers-list{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.answer{
    display: block;
    background-color: transparent;
    border: 1px solid var(--color-1);

    color: var(--color-1);
    font-weight: normal;

    text-align: start;
    padding: 1rem 2rem;

    width: auto;
    flex: 1;

    min-width: max(40%, 300px);

    &:hover{
        background-color: transparent;
        border-color: var(--color-hover-1);
        color: var(--color-hover-1);
    }

    &.selected{
        background-color: var(--color-hover-1);
        border-color: var(--color-hover-1);
        color: var(--background-color-1);
    }
}


h2{
    font-weight: 400;
    color: var(--color-1);
}


.confirmation-header{
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 1rem;
}

.icon-strap{
    width: 120px;
    height: 120px;
    background-color: var(--color-hover-1);
    border-radius: 100px;
    padding: 20px;
}
.center-text{
    text-align: center;
}

.icon-strap.visible {
    animation: bounceIn 0.5s ease-out forwards;
}

.big-icon{
    width: 100%;
}

.icon-strap.visible .big-icon{
    animation: bounceIn 0.75s ease-out forwards;
}

@keyframes bounceIn {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    60% {
        opacity: 1;
        transform: scale(1.1);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@media (max-width: 480px){
    .strap{
        padding: 1rem;
    }

    .answer{
        padding: 1rem 1rem;

        width: auto;

        min-width: max(40%, 200px);

    }
}
