{% extends "base.html" %}

{% block head  %}
    <link type="text/css" rel="stylesheet" href="{{ static('css/lesson_registration.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ static('css/subject.css') }}">
    <script type="text/javascript" src="{{ static('js/lesson_registration.js') }}" defer></script>
    <script type="text/javascript" src="{{ static('js/subject.js') }}" defer></script>

    <script>
        const current_page = 1;
        
        let selectedTeacherId = {{teacher_id}};
        let selectedSubjectId = {{subject_id}};
        let selectedGroupId = {{group_id}};
    </script>

{% endblock %}

{% block content  %}

    <div class="container">
    
        {% include "lesson_registration/navigation_buttons.html" %}
    
        <h1>Выбрать услуги</h1>
        <br>
        <div class="services">
        
            {% for subject in subjects %}
            <div id="service-card-{{subject.id}}" class="service-card">
                <div class="service-info">
                    <span class="service-title">{{subject.name}}</span>
        
                    <span class="hover-text">{{subject.price}} ₽</span>
                </div>
                <div class="service-right">
                    <button class="select-button">
                        <img class="check-mark-img" src="{{ static('images/check_mark_icon.svg') }}">
                    </button>
                </div>
            </div>
        
            {% endfor %}
        </div>
    
        <div id="bottom-menu" class="fixed-bottom disabled">
            <button id="next-button" class="button">Выбрать услугу</button>
        </div>
    </div>


{% endblock %}

