{% extends "base.html" %}

{% block head  %}
    <link type="text/css" rel="stylesheet" href="{{ static('css/lesson_registration.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ static('css/teachers.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ static('css/modal.css') }}">
    <script type="text/javascript" src="{{ static('js/lesson_registration.js') }}" defer></script>
    <script type="text/javascript" src="{{ static('js/teachers.js') }}" defer></script>

    <script>
        let selectedSubjectId = 0;
        let selectedGroupId = 0;

        selectedSubjectId = {{ subjects[0].id }};
    </script>

{% endblock %}

{% block content  %}

    <div class="container">
        <br><br>
        <h1 class="custom-h1">Наши преподаватели</h1>
        <br>
        <div class="subjects">
            {% for subject in subjects %}
                <button class="subject" id="subject_{{ subject.id }}" onclick="selectSubject({{ subject.id }})">{{ subject.name }}</button>
            {% endfor %}
        </div>
        <br>
    
        <div id='teahcers' class="workers">


        </div>
    </div>

    <div id="modal" class="modal">
        <div class="modal-content" id="modal-content">
            <span class="close-button">Закрыть</span>
            <br>
            <div id="group-cards" class="group-cards">
                
            </div>
            
            <button id="select-group-button" class="button select-group-button inactive">Выбрать</button>
        </div>
    </div>


{% endblock %}

