{% extends "base.html" %}

{% block head  %}
    <link type="text/css" rel="stylesheet" href="{{ static('css/lesson_registration.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ static('css/teachers.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ static('css/modal.css') }}">
    <script type="text/javascript" src="{{ static('js/lesson_registration.js') }}" defer></script>
    <script type="text/javascript" src="{{ static('js/teachers.js') }}" defer></script>

    <script>

    </script>

{% endblock %}

{% block content  %}

    <div class="container">
        <br><br>
        <h1 class="custom-h1">Наши преподаватели</h1>
        <br>
        <div class="subjects">
            {% for subject in subjects %}
                <button class="subject" id="subject_{{ subject.id }}" onclick="selectSubject({{ subject.id }})">{{ subject.name }}</button>
            {% endfor %}
        </div>
        <br>
    
        <div id='teahcers' class="workers">


        </div>
    </div>

    <div id="modal" class="modal">
        <div class="modal-content">
            <span class="close-button">Закрыть</span>
            <br>
            <div class="group-cards">
                <div class="group-card">
                    <h1>Группа 1</h1>
                    <p>Среда <span class="primary-text">14:00 - 15:00</span></p>
                    <p>Пятница <span class="primary-text">14:00 - 15:00</span></p>
                </div>
    
                <div class="group-card">
                    <h1>Группа 2</h1>
                    <p>Среда <span class="primary-text">14:00 - 15:00</span></p>
                    <p>Пятница <span class="primary-text">14:00 - 15:00</span></p>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

